<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>i love China</p>
{#后端数据返回，进行取数据#}
{{ data }}


{# 过滤器　#}
{{ 'China' | upper }}
{{ 'China' | lower }}
{{ 'China' | reverse | upper }}

{{ data | length }}
{{ data | last }}

{{ test }}
{# 不写就是默认的escape #}
{{ test | escape }}
{#　safe　表示数据安全，可以进行html显示#}
{{ test | safe }}

{# 参数求和　#}
{{ demoprice | sum(attribute="price") }}
</body>
</html>